{% extends 'base.html' %}


{% block content %}
<section style="display: block; align-items: center; margin: 20px;">


    <section class="SectionHome">
        <h1> Home</h1>
        <p>
    
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec lorem at sem pharetra tincidunt. Sed nunc mi, venenatis vitae venenatis sed, bibendum ac libero. Sed aliquet eleifend nunc in fringilla. Duis porttitor pellentesque nisl vitae accumsan. Maecenas pretium nisl a dui tincidunt bibendum. Sed suscipit risus at posuere eleifend. Aliquam quis lorem vel mauris varius blandit eget quis sem. Quisque sed luctus eros. Mauris elit purus, elementum ut ante a, bibendum malesuada leo. Vivamus erat felis, ornare eu lectus nec, dignissim molestie augue. Curabitur vulputate, nisi sed bibendum efficitur, est felis tempus nibh, quis interdum ex risus vitae augue. Nullam nec suscipit quam, et lobortis risus. Suspendisse tincidunt volutpat nisl. Phasellus eget ante neque.        
        </p>
    </section>  

</section>

{% endblock  %}
     